# 作業一:房價預測

##　導入所需的套件

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#%matplotlib inline
import seaborn as sns

## 導入數據集
### 列出數據集的0~7列資料

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/ryanchung403/dataset/main/Housing_Dataset_Sample.csv")
df.head(n=8)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386
5,80175.754159,4.988408,6.104512,4.04,26748.428425,1.068138e+06,"06039 Jennifer Islands Apt. 443\nTracyport, KS..."
6,64698.463428,6.025336,8.147760,3.41,60828.249085,1.502056e+06,"4759 Daniel Shoals Suite 442\nNguyenburgh, CO ..."
7,78394.339278,6.989780,6.620478,2.42,36516.358972,1.573937e+06,"972 Joyce Viaduct\nLake William, TN 17778-6483"

## 指定x及y的內容

In [30]:
X=df.iloc[:,:5]  #從頭到指定的那個但不包含結尾01234
#決定題目要預測Price(y是目標值) 可改
y=df['Price']

### 列出x

In [31]:
X

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.458574,5.682861,7.009188,4.09,23086.800503
1,79248.642455,6.002900,6.730821,3.09,40173.072174
2,61287.067179,5.865890,8.512727,5.13,36882.159400
3,63345.240046,7.188236,5.586729,3.26,34310.242831
4,59982.197226,5.040555,7.839388,4.23,26354.109472
...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035
4996,78491.275435,6.999135,6.576763,4.02,25616.115489
4997,63390.686886,7.250591,4.805081,2.13,33266.145490
4998,68001.331235,5.534388,7.130144,5.44,42625.620156
4999,65510.581804,5.992305,6.792336,4.07,46501.283803

### 列出y

In [32]:
y

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

## 將數據集拆成訓練集與測試集
### 其中
### 1. x_train-包含了所有的自變量，這些變量將用於訓練模型，同時我們指定test_size=0.29，代表完整資料中的71%的觀察結果將會用於訓練模型，剩下的29%用於測試模型
### 2. x_test-是資料中剩餘的40%自變數部分，不會用來訓練模型，將用於進行預測以測試模型準確性
### 3. y_train-是需要由該模型預測的因變量
### 4. y_test-此資料具有測試資料的類別標籤，這些標籤將用於測試實際類別和預測類別之間的準確性
### 5. random_state-控制隨機狀態，固定後可確保，程式每次運行都分割一樣的訓練集和測試集

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.29,random_state=54)

## 開始訓練與建構回歸模型
> LinearRegression(fit_intercept = True. normalize = False, copy_X = True, n_jobs = 1)

In [36]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

##　Get the result

In [37]:
predictions = reg.predict(X_test)
predictions

array([ 614118.77165465, 1848604.6172062 , 1118423.29470594, ...,
        616337.69065259, 1123781.11391718,  429290.06096854])

## 回歸模型的準確度
> ### 因為在上面中我將test_size改成了0.29，較小的測試集代表有更多的數據可以用於訓練模型，且此次的數據是有限的，能更好提升模型性能，故比講義上的準確度提高了0.00107

In [38]:
from sklearn.metrics import r2_score
r2_score(y_test,predictions)

0.9227374820848907